/* 	
	@media print{
		body{
			margin: 0;
		}
		#menu {
			display:none;
		}
		ul.navbar{
			display:none;
		}
		span.epi{
			display:none;		
		}
	}
 */
	nav ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
		display: block;    
	}

	html {
		position: relative;
		min-height: 100%;
		padding-bottom: 100px;
		box-sizing: border-box;
	  }
	  footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100px;
	  }